{% extends "../tasks/base.html" %}

{% block title %}
	calendar
{% endblock title %}


{% block body %}
	Estas en calendario

	<div><a href="/">Go to home</a></div>

	<div class="row">
		<ul>
			<li><a href="">1</a></li>
			<li><a href="">1</a></li>
			<li><a href="">1</a></li>
			<li><a href="">1</a></li>
			<li><a href="">1</a></li>
			<li><a href="">1</a></li>
			<li><a href="">1</a></li>		
		</ul>	
	</div>	
	<div class="row">
		<ul>
			<li><a href="">1</a></li>
			<li><a href="">1</a></li>
			<li><a href="">1</a></li>
			<li><a href="">1</a></li>
			<li><a href="">1</a></li>
			<li><a href="">1</a></li>
			<li><a href="">1</a></li>
		</ul>	
	</div>	
	<div class="row">
		<ul>
			<li><a href="">1</a></li>
			<li><a href="">1</a></li>
			<li><a href="">1</a></li>
			<li><a href="">1</a></li>
			<li><a href="">1</a></li>
			<li><a href="">1</a></li>
			<li><a href="">1</a></li>
		</ul>	
	</div>	
	<div class="row">
		<ul>
			<li><a href="">1</a></li>
			<li><a href="">1</a></li>
			<li><a href="">1</a></li>
			<li><a href="">1</a></li>
			<li><a href="">1</a></li>
			<li><a href="">1</a></li>
			<li><a href="">1</a></li>		
		</ul>	
	</div>	

{% endblock body %}
